<p id="notice"><%= notice %></p>

<p>
  <b>Notadecredito:</b>
  <%= @renglon_notacredito.notadecredito %>
</p>

<p>
  <b>Factura:</b>
  <%= @renglon_notacredito.factura %>
</p>

<p>
  <b>Comentario:</b>
  <%= @renglon_notacredito.comentario %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @renglon_notacredito.cantidad %>
</p>

<p>
  <b>Comercializable:</b>
  <%= @renglon_notacredito.comercializable %>
</p>

<p>
  <b>Descuento:</b>
  <%= @renglon_notacredito.descuento %>
</p>

<p>
  <b>Precio unitario:</b>
  <%= @renglon_notacredito.precio_unitario %>
</p>

<p>
  <b>Total impuestos:</b>
  <%= @renglon_notacredito.total_impuestos %>
</p>

<p>
  <b>Total renglon:</b>
  <%= @renglon_notacredito.total_renglon %>
</p>


<%= link_to 'Edit', edit_renglon_notacredito_path(@renglon_notacredito) %> |
<%= link_to 'Back', renglon_notacreditos_path %>
