<h1>Listing renglon_ndc_articulos</h1>

<table>
  <tr>
    <th>Comercializable</th>
    <th>Cantidad</th>
    <th>Precio</th>
    <th>Total renglon</th>
    <th>Total impuestos</th>
    <th>Descuento</th>
    <th>Comentario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @renglon_ndc_articulos.each do |renglon_ndc_articulo| %>
  <tr>
    <td><%= renglon_ndc_articulo.comercializable %></td>
    <td><%= renglon_ndc_articulo.cantidad %></td>
    <td><%= renglon_ndc_articulo.precio %></td>
    <td><%= renglon_ndc_articulo.total_renglon %></td>
    <td><%= renglon_ndc_articulo.total_impuestos %></td>
    <td><%= renglon_ndc_articulo.descuento %></td>
    <td><%= renglon_ndc_articulo.comentario %></td>
    <td><%= link_to 'Show', renglon_ndc_articulo %></td>
    <td><%= link_to 'Edit', edit_renglon_ndc_articulo_path(renglon_ndc_articulo) %></td>
    <td><%= link_to 'Destroy', renglon_ndc_articulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Renglon ndc articulo', new_renglon_ndc_articulo_path %>
