
<p>
  <b>Descuento:</b>
  <%= comercializable.descuento %>
</p>
 
<p>
  <b>Garantia:</b>
  <%= comercializable.garantia %>
</p>

<p>
  <b>Impuestos:</b>
  <%= comercializable.impuestos %>
</p>

<p>
  <b>Impuestos:</b>
  <%= comercializable.promocions %>
</p>

<p>
  <%= link_to 'Editar rol comercializable',edit_articulo_comercializable_path(comercializable.rola,comercializable) %>  
</p>
