<% @rand = (0...8).map{65.+(rand(25)).chr}.join %>
<script>
  $(function() {
    $( "#tabs-notadecredito<%= @rand %>" ).tabs();
    $( "#tabs-renglones<%= @rand %>" ).tabs();

    $(".edit_sub_link").click(function(){
      showIframe($(this).attr("data"), "editar lineas",$(this).attr("datah"),$(this).attr("dataw") );
    });
    $(".delete_sub_list").click(function(){

      var url = $(this).attr("action");

      $('#delete_sub_dialog').html($(this).attr("title"));
      $('#delete_sub_dialog').dialog({
        resizable: false,
        height:160,
        modal: true,
        buttons: {
          "Borrar": function() {
            var data = new Object();
            var this_false = $( this );
            data["_method"] = "delete";
            $.ajax({
              type: "POST",
              url: url,
              data: data,
              context: document.body,
              success: function(html_data){
                this_false.dialog( "close" );
                reloadIframe("/notadecreditos/<%=@notadecredito.id%>/edit",1)

              }
            });
          },
          "Cancelar": function() {
            $( this ).dialog( "close" );
          }
        }
      });
    });
  });
</script>


<%= render 'form' %>


<div id="delete_sub_dialog"></div>
<div id="edit_sub_dialog"></div>
<div id="tabs-notadecredito<%= @rand %>" style="position: absolute;left: 400px; top: 20px; padding-left: 10px;">
   <div id="total">
       <span style="color: red; font-size: 1.2em;">Subtotal : <%=  "%.2f"  %@subtotal %>, total impuestos : <%= "%.2f"  %@total_impuestos %>, total descuento : <%= "%.2f"  %(@subtotal - @total_sinimpuestos) %>, Total : <%= "%.2f"  %(@total_impuestos +@total_sinimpuestos)  %></span>
      </div>
  <ul>
    <li><a href="#tabs-contect-renglon" >Renglones</a></li>
    <%if (@notadecredito.impresa) %>
        <li><a href="#tabs-contect-otros" >Documentos Asociados</a>
        <li><a href="#tabs-contect-impresiones" >Impresiones</a></li>
    <% end %>
  </ul>
  <div id="tabs-contect-renglon">
     <table>
      <tr >
        <th class ="ui-state-active" width ="400"> Cantidad </th>
        <th class ="ui-state-active" width ="400"> Art&iacute;culo </th>
        <th class ="ui-state-active" width ="400"> Detalle </th>
        <th class ="ui-state-active" width ="400"> Precio unitario </th>
        <th class ="ui-state-active" width ="400"> Descuento </th>
        <th class ="ui-state-active" width ="400"> Impuestos </th>
        <th class ="ui-state-active" width ="400"> Subtotal </th>
        <th class ="ui-state-active" width ="400"> Total </th>
        <th  class ="ui-state-active"></th>
        <th  class ="ui-state-active"></th>
      </tr>

       <%=   render @notadecredito.renglon_ndc_articulos %>

    </table>

    <%if  (@notadecredito.renglon_notacreditos.size > 0)%>
        <table>
          <tr >
            <th class ="ui-state-active" width ="400"> Factura </th>
            <th class ="ui-state-active" width ="400"> Cantidad </th>
            <th class ="ui-state-active" width ="400"> Art&iacute;culo </th>
            <th class ="ui-state-active" width ="400"> Detalle </th>
            <th class ="ui-state-active" width ="400"> Precio unitario </th>
            <th class ="ui-state-active" width ="400"> Descuento </th>
            <th class ="ui-state-active" width ="400"> Impuestos </th>
            <th class ="ui-state-active" width ="400"> Sin impuestos </th>
            <th class ="ui-state-active" width ="400"> Total </th>
            <th  class ="ui-state-active"></th>
            <th  class ="ui-state-active"></th>
          </tr>

          <%=   render @notadecredito.renglon_notacreditos %>

        </table>
    <%end%>

    <%if  (@notadecredito.renglon_ndcdetalles.size > 0)%>
        <table>
          <tr >
            <th class ="ui-state-active" width ="400"> Detalle </th>
            <th class ="ui-state-active" width ="400"> Impuestos </th>
            <th class ="ui-state-active" width ="400"> Sin impuestos </th>
            <th class ="ui-state-active" width ="400"> Total </th>
            <th  class ="ui-state-active"></th>
            <th  class ="ui-state-active"></th>
          </tr>

          <%=   render @notadecredito.renglon_ndcdetalles %>

        </table>
    <%end%>
  <% if Setting.usar_notadd %>
     <table>
      <tr >
        <th class ="ui-state-active" width ="400"> Nota de Debito </th>
        <th class ="ui-state-active" width ="400"> Detalle </th>
        <th class ="ui-state-active" width ="400"> Impuestos </th>
        <th class ="ui-state-active" width ="400"> Sin impuestos </th>
        <th class ="ui-state-active" width ="400"> Total </th>
        <th  class ="ui-state-active"></th>
        <th  class ="ui-state-active"></th>
      </tr>

      <%=   render @notadecredito.renglon_ndcndds %>

    </table>

    
    <%end%>
    <%if (!@notadecredito.impresa) %>
    <div id="modificar_notacredito"></div>
    <div id="tabs-renglones<%= @rand %>">
      <ul>
        <li><a href="#tabs-renglon-producto" >Renglones de Articulos</a></li>
        <li><a href="#tabs-renglon-add" >Renglones de Factura</a></li>
        <li><a href="#tabs-renglon-detalle" >Renglon Detallado</a></li>
        <% if Setting.usar_notadd %>
        <li><a href="#tabs-renglon-notadedebito" >Renglon Nota de Debito</a></li>
        
        <% end %>

      </ul>
       <div id="tabs-renglon-producto">
        <%= render "renglon_ndc_articulos/form" %>
      </div>
      <div id="tabs-renglon-add">
        <%= render "renglon_notacreditos/form" %>
      </div>
      <div id="tabs-renglon-detalle">
        <%= render "renglon_ndcdetalles/form" %>
      </div>
       <% if Setting.usar_notadd %>
      <div id="tabs-renglon-notadedebito">

        <%= render "renglon_ndcndds/form" %>
      </div>

     
      <% end %>

    </div>
    <% end %>
  </div>

  <%if (@notadecredito.impresa) %>
      <div id="tabs-contect-otros">
        <%if (@notadecredito.id!=nil) %>
          <table>
            <tr>
              <th class ="ui-state-active" width ="200">N&uacute;mero Documento</th>
              <th class ="ui-state-active">Importe</th>
              <th class ="ui-state-active">Moneda</th>
              <th class ="ui-state-active">Estado</th>
              <th class ="ui-state-active"></th>


            </tr>

            <% @renglon_notadedebito.each do |rr| %>
              <tr>
                <td  class="ui-state-default ui-corner-all">Ver nota de d&eacute;bito N°<%= rr.notadedebito.id %></td>
                <td  class="ui-state-default ui-corner-all"><%= ((rr.total_renglon + rr.total_impuestos)*100).round/100.0 %></td>
                <td  class="ui-state-default ui-corner-all"><%= rr.notadedebito.moneda.nombre %></td>
                <td  class="ui-state-default ui-corner-all"><%= (rr.notadedebito.anulada)?"Anulada":(rr.notadedebito.impresa)?"Impresa":"S/Imprimir" %></td>
                <td  class="ui-state-default ui-corner-all"><a class="list_link" title="Ver nota de débito" onclick="showIframe('/notadedebitos/<%= rr.notadedebito.id %>/edit')" href="#"> <span class="ui-icon ui-icon-wrench"></span></a></td>
              </tr>
            <% end  %>

          </table>
        <% end %>

      </div>
  <% end %>


  <%if (@notadecredito.impresa) %>
      <div id="tabs-contect-impresiones">
        <table>
            <tr>
              <th class ="ui-state-active">Serie</th>
              <th class ="ui-state-active">N&uacute;mero</th>
              <th class ="ui-state-active">Cantidad de p&aacute;ginas</th>
              <th class ="ui-state-active">Estado</th>
            </tr>
            <% @notadecredito.impresiones.each do |im| %>
              <tr>
                <td  class="ui-state-default ui-corner-all"> <%= im.serie %></td>
                <td  class="ui-state-default ui-corner-all"><%= im.numero %></td>
                <td  class="ui-state-default ui-corner-all"><%= im.cant_paginas %></td>
                <td  class="ui-state-default ui-corner-all"><%if (im.anulada) %>Anulada<%else%>Vigente<%end;%></td>

              </tr>
            <% end  %>
        </table>
      </div>
  <% end %>

</div>
