<% if params[:tipo].nil?
  @titulo_del_boton = "Agregar nueva Nota de Crédito";
  @titulo_ventana = "Editar Nota de Crédito"
  @titulo_eliminar = "Eliminar Nota de Crédito"
  @parametro = ""
  @parametrof = ""
else
  @titulo_del_boton = "Agregar nueva Nota de Devolucion";
  @titulo_ventana = "Editar Nota de Devolucion"
  @titulo_eliminar = "Eliminar Nota de Devolucion"
  @parametro = "?tipo=devolucion"
  @parametrof = "&tipo=devolucion"
end %>


<% if params[:numero_hoja].nil? %>
<script type="text/javascript">
  $(function() {
    var dates = $( "#from, #to" ).datepicker({
      changeMonth: true,
      changeYear: true,
      onSelect: function( selectedDate ) {
        var option = this.id == "from" ? "minDate" : "maxDate",
        instance = $( this ).data( "datepicker" ),
        date = $.datepicker.parseDate(
        instance.settings.dateFormat ||
          $.datepicker._defaults.dateFormat,
        selectedDate, instance.settings );
        dates.not( this ).datepicker( "option", option, date );
      }
    });
    $( "#radio" ).buttonset();

  });

  $("#send-query").click(function(){
    var tipo= $('input:radio:checked').attr("id");
    var from = $( "#from" ).val();
    var to = $("#to").val();
    $.ajax({

      url: "notadecreditos/filtered.html?cliente="+cliente_id+"&desde="+from+"&hasta="+ to + "<%=@parametrof%>"+"&sucursal="+sucursal_id,
      success: function( data ) {
        $("#listado").html('<p align ="center"><img  src="/images/ajax-loader.gif" /></p>');
        $("#listado").html(data);
      },
      error: function( xhr, status, index, anchor ) {
        alert("error");
      }
    });


  });

  $("#filter-options").hide();
  $("#more-filters").button( {icons: {
      primary: "ui-icon-plusthick"
    }
  });

  $("#send-query").button( );
  var animation = false;
  $("#more-filters").click(function(){
    if (!animation){
      animation = true;
      var change = '+145';
      if ($("#filter-options").css('display')=="block"){
        $("#filter-options").hide();
        change = '+35';
      }
      $("#buscar_notadecredito").animate({
        height: change
      }, 500, function() {
        animation = false;
        if (change == '+145')
          $("#filter-options").show();
      });
    }
  });

  $( "#filtro_notadecredito" ).autocomplete({
    source: function( request, response ) {
      $.ajax({
        url: "notadecreditos.json?filtro="+request.term+"<%=@parametrof%>",
        success: function( data ) {
          data = data
          if(data.length == 0){
            data = [{
                id :-1
              }];
          }
          response( $.map( data, function( item ) {
            if (item.id == -1){
              return {
                label: "no se encotraron resultados" ,
                value: request.term,
                id :item.id
              }
            }else{
              return {
                label: item.numero ,
                value: item.numero,
                id :item.id
              }
            }
          })
        );
        },
        error: function( xhr, status, index, anchor ) {
          return {
            label: 'no se econtro resultado' ,
            value: request.term,
            id :-1
          }
        }
      });
    },
    minLength: 1,
    select: function( event, ui ) {
      if(ui.item.id != -1)
        showIframe("/notadecreditos/"+ui.item.id+"/edit","<%=@titulo_ventana%>",1000,600);
    },
    open: function() {
      $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
      $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }
  });

  var cliente_id = -1;
  var sucursal_id = -1;
  $( "#filtro_cliente" ).autocomplete({
    source: function( request, response ) {
      cliente_id = -1;
      sucursal_id = -1;
      $.ajax({
        url: "empresas.json?filtro="+request.term,
         success: function( data ) {

            if(data.empresas.length == 0 && data.sucursales.length == 0 &&  data.personas.length == 0){
              data = [{
                  id :-1
                }];
            }else{

              var aux = new Array();
              data = aux.concat(data.empresas,data.sucursales,data.personas);

            }
            response( $.map( data, function( item ) {

              if (item.id == -1){
                return {
                  label: "no se encotraron resultados" ,
                  value: request.term,
                  id :item.id
                }
              }else{
                if (item.empresa){

                  return {
                    label: "<" + item.id + ">" + item.nombre + " ["+ item.domicilio+"]",
                    value: "<" + item.id + ">" + item.nombre + " ["+ item.domicilio+"]",
                    id: item.empresa.id,
                    sucursal_id : item.id,
                    domicilio : item.domicilio,
                    nombre :item.nombre+ " ["+ item.empresa.nombre+"]",
                    rut : item.empresa.nif

                  }
                }
                else
                  return {
                    label: "<" + item.id + ">" + item.nombre + " ["+ item.domicilio+"]",
                    value: "<" + item.id + ">" + item.nombre + " ["+ item.domicilio+"]",
                    id :item.id,
                    sucursal_id : -1,
                    domicilio : item.domicilio,
                    nombre :item.nombre,
                    rut : item.nif

                  }
              }
            })
          );
          },
        error: function( xhr, status, index, anchor ) {
          cliente_id = -1;
          return {
            label: 'no se econtro reultado' ,
            value: request.term,
            id :-1
          }
        }
      });
    },
    minLength: 1,
    select: function( event, ui ) {
      if(ui.item.id != -1){
        cliente_id = ui.item.id;
      }
       if( ui.item.sucursal_id != -1){
        sucursal_id =  ui.item.sucursal_id;
     }
      //showIframe("/empresas/"+ui.item.id+"/edit","Editar Empresa",960,600);
    },
    open: function() {
      $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
      $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }
  });
</script>
<br />
<a class="nuevo" href ="#" data="/notadecreditos/new<%=@parametro%>" dataw="690"  datah="500px" style="position:relative; width:200px" title="<%= @titulo_del_boton %>"><%= @titulo_del_boton %></a>
<div id="buscar_notadecredito" style="left: 240px; position: relative; top: -29px; width: 600px; height: 35px; margin-bottom: -48px;">
  <label for="filtro_notadecredito">Número: </label>
  <input id="filtro_notadecredito" style="width:11em;" class="filtro" />
  <span id="more-filters" >B&uacute;squeda</span>

  <div id ="filter-options" style="position: relative;left: -240px;top:5px ;border-style:solid;border-width:0.2px; border-color: #FFFFFF; width: 900px; height:60px; padding: 10px 0 0 10px;">
      <span class="rango-fecha">
      <label for="from">Desde</label>
      <input type="text" id="from" name="from"/>
      <label for="to">Hasta</label>
      <input type="text" id="to" name="to"/>
    </span>
    <div style ="width:220px;padding: 0px;float: left;">
      <label for="filtro_cliente">Cliente: </label>
      <input id="filtro_cliente" style="width:11em;" class="filtro" />
    </div>
    <div  style ="width:60px;position: absolute;left: 657px;top:8px;">
      <span id="send-query" >Filtrar</span>
    </div>
  </div>
</div>


<br /><br />
<div id="listado">
  <%  else %>
    <script type="text/javascript">
      limpiar_paginado();
    </script>
<% end %>
  <table>
    <tr>
      <th class ="ui-state-active" width ="120">N&uacute;mero</th>
      <th class ="ui-state-active" width ="270">Cliente</th>
      <th class ="ui-state-active" width ="120">Direcci&oacute;n</th>
      <th class ="ui-state-active" width ="200">Estado</th>
      <th class ="ui-state-active" width ="150">Total</th>
      <% if params[:tipo].nil? %>
         <th class ="ui-state-active" width ="150">Saldo</th>
      <% end %>

      <th class ="ui-state-active" width ="120">Moneda</th>
      <th class ="ui-state-active" width ="200">Fecha</th>
      <th class ="ui-state-active"></th>
      <th class ="ui-state-active"></th>
    </tr>

    <% @notadecreditos.each do |notadecredito| %>
      <tr>
        <td  class="ui-state-default ui-corner-all"><%= !notadecredito.numero.nil? ? notadecredito.numero : " " %></td>
        <td  class="ui-state-default ui-corner-all"><%= notadecredito.comerciante.nombre %><% if notadecredito.sucursal %>[<%= notadecredito.sucursal.nombre %>]<% end %></td>
        <td  class="ui-state-default ui-corner-all"><%= (notadecredito.comerciante)?notadecredito.direccion_cliente: notadecredito.comerciante_id %></td>
        <td  class="ui-state-default ui-corner-all"><%= (notadecredito.anulada)?"Anulada":(notadecredito.impresa)?"Impresa":"S/Imprimir" %></td>
        <td  class="ui-state-default ui-corner-all"><%=  "%.2f"  %(notadecredito.total_sinimpuestos + notadecredito.total_impuestos) %></td>
        <% if params[:tipo].nil? %>
            <td  class="ui-state-default ui-corner-all"><%=  notadecredito.adeudo.nil? ? " " : "%.2f"  %(notadecredito.adeudo) %></td>
        <% end %>
        <td class="ui-state-default ui-corner-all"><%= (notadecredito.moneda)?notadecredito.moneda.nombre: notadecredito.moneda_id %></td>
        <td  class="ui-state-default ui-corner-all"><%= notadecredito.fecha %></td>
        <td  class="ui-state-default ui-corner-all"><a href ="#" data="/notadecreditos/<%=  notadecredito.id %>/edit<%=@parametro%>" dataw="600"  datah="1000px" class="list_link" title="<%=@titulo_ventana%>"><span class="ui-icon ui-icon-wrench"></span></a>
        <td  class="ui-state-default ui-corner-all"><a href="#"  data-method="delete" title="<%=@titulo_eliminar%>"><span class="ui-icon ui-icon-trash <%= (notadecredito.anulada)?"ui-state-disabled":(notadecredito.impresa)?"ui-state-disabled":"delete_list" %>" action="/notadecreditos/<%=  notadecredito.id %>"></span></a></td>

      </tr>
    <% end %>
  </table>
<%=  will_paginate @impuestos, :param_name => :numero_hoja , :class => :flickr_pagination %>
<% if params[:numero_hoja].nil? %>
</div>
<% end %>

