<%
 @goto = redirigirMail @conmail
%>

<script type="text/javascript">
  $(function(){
    $( "#editar_mail_" ).button();
    $( "#editar_mail_" ).click(function() {
      $(this).button( "disable" )
      var data = new Object();


      data['mail[mail]'] =	$( "#mail_edit" ).val();
      data["_method"] =	"put";
      data["utf8"] =	true;
      $.ajax({
        type: "POST",
        url: "<%=@goto%>/mail_internos/<%= params[:id] %>.json",
        data: data,
        context: document.body,
        success: function(json_data){
          $( "#editar_mail_" ).button( "enable" )
          if (json_data.id){
            closeIframe("<%=@goto%>/mail_internos/<%= params[:id] %>/edit");
            reloadIframe("<%=@goto%>/edit",1);
          }else{
            $("#texto_error_mail_edit").html("");
            for (var i in json_data){
              var error = '<div style="padding: 0 .2em;" class="ui-state-error ui-corner-all"><p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span><strong>'+i+':</strong> '+json_data[i]+'.</p></div><br/>';
              $("#texto_error_mail_edit").html($("#texto_error_mail_edit").html()+error);

            }
          }
        },
        error: function( xhr, status, index, anchor ) {
          $( "#editar_mail_" ).button( "enable" )
          $("#texto_error_mail_edit").html("");
          for (var i in xhr){
            var error = '<div style="padding: 0 .2em;" class="ui-state-error ui-corner-all"><p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span><strong>'+i+':</strong> '+xhr[i]+'.</p></div><br/>';
            $("#texto_error_mail_edit").html($("#texto_error_mail_edit").html()+error);

          }

        }
      });
      return false;
    });
  });
</script>
<br /><br />

<%= form_for([@conmail, @conmail.mail_internos.find(params[:id])]) do |f| %>
  <% debug @conmail.mail_internos.find(params[:id]) %>
  <% if @conmail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conmail.errors.count, "error") %> prohibited this mail from being saved:</h2>

      <ul>
        <% @conmail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div id="texto_error_mail_edit"> </div>
  <div class="field">
    <%= f.label :mail %>
    <div class ="combobox"> <%= f.text_field :mail, :size =>20, :class =>  'text ui-widget-content ui-corner-all', :id => 'mail_edit'%> </div>
  </div>
  <div class="actions" >
    <a id="editar_mail_">Guardar Cambios </a>
  </div>

<% end %>

