<tr>
  <th class="ui-state-default ui-corner-all" width="350px">  <%= descuento_cliente.comercializable.nombreart %></th>
  <th class="ui-state-default ui-corner-all" width="50px">  <%= descuento_cliente.descuento %></th>
  <th  class="ui-state-default ui-corner-all"><a href ="#" data="/clientes/<%=descuento_cliente.cliente.id %>/descuento_clientes/<%=  descuento_cliente.id %>/edit" dataw="600"  datah="600" class="edit_sub_link" title="Editar Linea"><span class="ui-icon ui-icon-wrench"></span></a></th>
  <th  class="ui-state-default ui-corner-all"><a href="#" action="/clientes/<%=descuento_cliente.cliente.id %>/descuento_clientes/<%=  descuento_cliente.id %>" class="delete_sub_list" data-method="delete" title="Eliminar Linea"><span class="ui-icon ui-icon-trash"></span></a></th>

</tr>
