 <% @rand =  (0...8).map{65.+(rand(25)).chr}.join  %>
 <%
      if @cliente.class.name == "Empresa"

          @gocliente = "empresas"
          @pestania = 4;
       elsif @cliente.class.name == "Persona"

          @gocliente = "personas"
           @pestania = 3;
      end
      %>
<script type="text/javascript">
  $(function(){
    var descuento_cliente_comercializable_id = <% if (@descuento_cliente==nil) %>-1<% else %><%= @descuento_cliente.comercializable_id %><%end%>;
    $( "#guardar_descuento<%= @rand %>" ).button();
    $( "#guardar_descuento<%= @rand %>" ).click(function() {
    $( "#guardar_descuento<%= @rand %>" ).button( "disable" );
    var data = new Object();
    <% if(@descuento_cliente != nil) %>
        data["_method"] =	"put";

    <% end; %>
      data['cliente_id'] =	<%= @cliente.id %>;
      data['descuento_cliente[comercializable_id]'] = descuento_cliente_comercializable_id;
      data['descuento_cliente[descuento]'] =	$( "#descuento_comerciealizable<%= @rand %>" ).val();
      data['commit'] = "Create <%= @cliente.class.name %>";
     
      data["utf8"] =	true;
      $.ajax({
        type: "POST",
        url: "<%= @gocliente %>/<%= @cliente.id %>/descuento_clientes<% if (@descuento_cliente==nil) %>.json/ <% else %>/<%= @descuento_cliente.id %>.json<%end%>",
        data: data,
        context: document.body,
        success: function(json_data){
          $( "#guardar_descuento<%= @rand %>" ).button( "enable" );
          if (json_data.id){
            $("#texto_error<%= @rand %>").html("");
            <% if (@descuento_cliente !=nil) %>
               closeIframe("/clientes/<%= @cliente.id %>/descuento_clientes/<%= @descuento_cliente.id %>/edit",0);

            <%end%>
               reloadIframe("/<%= @gocliente %>/<%= @cliente.id %>/edit",<%= @pestania %>)

          }else{
            $("#texto_error_inner<%= @rand %>").html("");
            $( "#guardar_descuento<%= @rand %>" ).button( "enable" )
            for (var i in json_data){
              var error = '<div style="padding: 0 .2em;" class="ui-state-error ui-corner-all"><p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span><strong>'+i+':</strong> '+json_data[i]+'.</p></div><br/>';
              $("#texto_error_inner<%= @rand %>").html($("#texto_error_inner<%= @rand %>").html()+error);

            }
          }
        },
        error: function( xhr, status, index, anchor ) {
          $( "#guardar_descuento<%= @rand %>" ).button( "enable" )
          $("#texto_error_inner<%= @rand %>").html("");

          var error = '<div style="padding: 0 .2em;" class="ui-state-error ui-corner-all"><p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span><strong>0:</strong> Error interno.</p></div><br/>';
          $("#texto_error_inner<%= @rand %>").html($("#texto_error_inner<%= @rand %>").html()+error);

        }
      });
       return false;
    });
     $( "#comercializable_id<%= @rand %>" ).autocomplete({
      source: function( request, response ) {
         var search = request.term;
        if(request.term == "no search")
          search = "";
        var url = "/articuloinds.json?comercializable="+search+"&lista_precio_id=<%= @cliente.listaprecio.id %>";
        $.ajax({
          url: url,
          success: function( data ) {

            if(data.length == 0){
              data = [{
                  id :-1,
                  texto: "no se encontraron resultados"
                }];
            }
            response( $.map( data, function( item ) {
              if (item.id == -1){
                return {
                  label: "no se encotraron resultados" ,
                  value: request.term,
                  id :item.id
                }
              }else{
                return {
                  label: item.nombre + " (" + item.id + ")" ,
                  value:  item.nombre ,
                  id :item.id,
                  complete_data : item
                }
              }
            })
          );
          },
          error: function( xhr, status, index, anchor ) {
            return {
              label: 'no se econtro reultado' ,
              value: request.term,
              id :-1
            }
          }
        });
      },
      minLength: 1,
      select: function( event, ui ) {

        if(ui.item.id != -1){
          descuento_cliente_comercializable_id = ui.item.complete_data.id;
        //  cargarDatos<%= @rand %>(ui.item.complete_data.id);
          $("#nombre_producto<%= @rand %>").html(ui.item.label  );
          setTimeout(
                  function(){
                      $( "#comercializable_id<%= @rand %>" ).val("");
                      $("#renglon_factura_cantidad<%= @rand %>").focus();
                  },100);

        }
        // showIframe("/articuloinds/"+ui.item.id+"/edit","Editar Articulo",500,500);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

  });


  
</script>
<%
if @descuento_cliente.nil?
   @descuento_cliente = DescuentoCliente.new
end
  %>
<%= form_for([@cliente,@descuento_cliente]) do |f| %>
  <% if @descuento_cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@descuento_cliente.errors.count, "error") %> prohibited this descuento_cliente from being saved:</h2>

      <ul>
      <% @descuento_cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <label for="renglon_factura_Articulos">Art&iacute;culos</label>
      <div class="combobox">
      <%= f.text_field :comercializable_id , :size =>20, :class =>  'filtro' ,:id => "comercializable_id" + @rand.to_s  ,:style=>"width: 18em !important;" ,:tabindex=>1%>
        <span id="nombre_producto<%= @rand %>" style="color: red;"><%if (@descuento_cliente.comercializable != nil) %><%=  @descuento_cliente.comercializable.nombreart  %> <%end;%></span>


  </div>
  </div>
  <div class="field">
    <%= f.label :descuento %><div class ="combobox">
    <%= f.text_field :descuento ,:size =>20, :class =>  'text ui-widget-content ui-corner-all', :id => "descuento_comerciealizable" + @rand.to_s %></div>
  </div>
  <div class="actions">
    <a id="guardar_descuento<%=@rand%>"><%if @descuento_cliente.id!= nil%>Guardar Cambios<%else%>Guardar Descuento<%end%></a>
  </div>
<% end %>
