<tr>
  <th class="ui-state-default ui-corner-all" width="50px">  <%= renglon_nddndc.notadecredito.id %></th>
  <th class="ui-state-default ui-corner-all" width="50px">  <%= renglon_nddndc.detalle %></th>
  <th class="ui-state-default ui-corner-all" width="50px">  <%= renglon_nddndc.total_impuestos %></th>
  <th class="ui-state-default ui-corner-all" width="50px">  <%= renglon_nddndc.total_renglon %></th>
  <th class="ui-state-default ui-corner-all" width="50px">  <%= ((renglon_nddndc.total_impuestos + renglon_nddndc.total_renglon)*100).round/100.0 %></th>
  <th  class="ui-state-default ui-corner-all"><a href ="#" data="/notadedebitos/<%=renglon_nddndc.notadedebito.id%>/renglon_nddndcs/<%=  renglon_nddndc.id %>/edit" dataw="600"  datah="600" class="edit_sub_link" title="Editar Linea"><span class="ui-icon ui-icon-wrench"></span></a></th>
  <th  class="ui-state-default ui-corner-all"><a href="#" action="/notadedebitos/<%=renglon_nddndc.notadedebito.id%>/renglon_nddndcs/<%=  renglon_nddndc.id %>" class="delete_sub_list" data-method="delete" title="Eliminar Linea"><span class="ui-icon ui-icon-trash"></span></a></th>

</tr>