<% if params[:numero_hoja].nil? %>
<script type="text/javascript">
  //valor 0: No muestra el id del objeto en las búsquedas
  //valor 1: Lo muestra
  var config_show_num_ids = 1; //<= Setting.show_num_ids %> ;

  $( "#filtro_persona" ).autocomplete({
    source: function( request, response ) {
      $.ajax({
        url: "personas.json?filtro="+request.term,
        success: function( data ) {
          if(data.length == 0){
            data = [{
                id :-1
              }];
          }
          response( $.map( data, function( item ) {
            if (item.id == -1){
              return {
                label: "no se encotraron resultados" ,
                value: request.term,
                id :item.id
              }
            }else{
                if(config_show_num_ids == 1){
                  return {
                    label: "<" + item.id + ">" + item.nombre ,
                    value: item.nombre,
                    id :item.id
                  }
                }else{
                  return {
                    label: item.nombre ,
                    value: item.nombre,
                    id :item.id
                  }
                }
            }
          })
        );
        },
        error: function( xhr, status, index, anchor ) {
          return {
            label: 'no se econtro reultado' ,
            value: request.term,
            id :-1
          }
        }
      });
    },
    minLength: 1,
    select: function( event, ui ) {
      if(ui.item.id != -1)
        showIframe("/personas/"+ui.item.id+"/edit","Editar Persona",700,950);
    },
    open: function() {
      $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
      $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }
  });
</script>
<br />
<a class="nuevo" href ="#" data="/personas/new" dataw="600"  datah="700px" title="Agregar nueva persona">Agregar persona</a>
<br /><br />
<div id="buscar_persona" style="position: absolute;left: 290px;top:75px;"><label for="filtro_persona">Buscar persona: </label>
  <input id="filtro_persona" class="filtro" />
</div>
<div id="listado">
  <%  else %>
    <script type="text/javascript">
      limpiar_paginado();
    </script>
<% end %>
<table>
  <tr>
    <th class ="ui-state-active" width ="80">N&uacute;mero</th>
    <th class ="ui-state-active" width ="400">Nombre</th>
    <th class ="ui-state-active" width ="600">Domicilio</th>
    <th class ="ui-state-active"></th>
    <th class ="ui-state-active"></th>
  </tr>

  <% @personas.each do |persona| %>
    <tr>
      <td class="ui-state-default ui-corner-all"><%= persona.id %></td>
      <td class="ui-state-default ui-corner-all"><%= persona.nombre %></td>
      <td class="ui-state-default ui-corner-all"><%= persona.domicilio %></td>
      <td class="ui-state-default ui-corner-all"><a href ="#" data="<%=edit_persona_path(persona)%>" dataw="400"  datah="950px" class="list_link" title="Editar Persona"><span class="ui-icon ui-icon-wrench"></span></a>
      <td class="ui-state-default ui-corner-all"><a href="#" action="/personas/<%=  persona.id %>" class="delete_list" data-method="delete" title="Eliminar Cliente"><span class="ui-icon ui-icon-trash"></span></a></td>
    </tr>
  <% end %>
</table>
<%=  will_paginate @impuestos, :param_name => :numero_hoja , :class => :flickr_pagination %>
<% if params[:numero_hoja].nil? %>
</div>
<% end %>

