<script type="text/javascript">
  $(function(){
    var data = new Object();
     
    $("#empresa_urecargo").addClass("text ui-widget-content ui-corner-all");
// if @empresa.id != nil and !@empresa.credito or @empresa.id == nil %>
      $("#precargo").hide();
      $("#urecargo").hide();
      $("#cantrecargo").hide();
//end %>
    $("#empresa_credito").change(function(){
      if ($("#empresa_credito:checked").length > 0) {

        // no va ma esto, se debería en la proxima iteración asignar una forma de pago por defecto
        // para cada cliente que sirva para precargar la forma de pago pero q s pueda modificar
        //$("#precargo").show("Highlight");
        //$("#urecargo").show( "Highlight");
        //$("#cantrecargo").show( "Highlight");



      }
      else {
        $("#precargo").hide("Highlight");
        $("#urecargo").hide( "Highlight");
        $("#cantrecargo").hide( "Highlight");

      }
    })

    $( "#guardar" ).button();
    $( "#guardar" ).click(function() {
      $(this).button( "disable" );
<% if(@empresa.id!=nil) %>
        data["_method"] =	"put";
<% end; %>
      data['empresa[nombrereal]'] =	$( "#empresa_nombrereal" ).val();
      data['empresa[nombrefiscal]'] =	$( "#empresa_nombrefiscal" ).val();
      data['empresa[nif]'] =	$( "#empresa_nif" ).val();
      data['empresa[domicilio]'] =	$( "#empresa_domicilio" ).val();
      data['empresa[dirweb]'] =	$( "#empresa_dirweb" ).val();

      data['empresa[pdescuento]'] =	$( "#empresa_pdescuento" ).val();
      data['empresa[habilitado]'] =	$( "#empresa_habilitado" ).val();
      data['empresa[tipocliente_id]'] =	$( "#empresa_tipocliente_id" ).val();

      if ($("#empresa_credito:checked").length > 0) {
        data['empresa[precargo]'] =	$( "#empresa_precargo" ).val();
        data['empresa[urecargo]'] =	$( "#empresa_urecargo" ).val();
        data['empresa[cantrecargo]'] =	$( "#empresa_cantrecargo" ).val();
        data['empresa[credito]'] =	true;
      }   else {
        data['empresa[credito]'] =	false;
      }

      data["utf8"] =	true;
      $.ajax({
        type: "POST",
        url: "/empresas<% if(@empresa.id==nil) %>.json<% else %>/<%= @empresa.id %>.json<% end %>",
        data: data,
        context: document.body,
        success: function(json_data){
          $( "#guardar" ).button( "enable" )
          if (json_data.id){
            $("#texto_error").html("");
            tab_selected.click();
            <% if(@empresa.id==nil) %>
             closeIframe("/empresas<% if(@empresa.id==nil) %>/new<% else %>/<%= @empresa.id %>/edit<% end %>");
             showIframe("/empresas/"+json_data.id+"/edit");
            <%else%>
              reloadIframe("/empresas<% if(@empresa.id==nil) %>/new<% else %>/<%= @empresa.id %>/edit<% end %>");
            <%end%>
          }else{
            $("#texto_error").html("");
            for (var i in json_data){
              var error = '<div style="padding: 0 .2em;" class="ui-state-error ui-corner-all"><p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span><strong>'+i+':</strong> '+json_data[i]+'.</p></div><br/>';
              $("#texto_error").html($("#texto_error").html()+error);

            }
          }

        },
        error: function( xhr, status, index, anchor ) {
          $( "#guardar" ).button( "enable" )
          $("#texto_error").html("");
          for (var i in xhr){
            var error = '<div style="padding: 0 .2em;" class="ui-state-error ui-corner-all"><p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span><strong>'+i+':</strong> '+xhr[i]+'.</p></div><br/>';
            $("#texto_error").html($("#texto_error").html()+error);

          }
        }
      });
      return false;
    });
  });
</script>
<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> No se pudo agregar la Empresa:</h2>

      <ul>
        <% @empresa.errors.messages.each do |msg| %>
          <li><%= msg[1][0] %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div id="texto_error"> </div>

    <% if !@empresa.id.nil? %>
    <div class="field" >
      <%= f.label :numero %><br />
      <div class ="combobox"> <%= f.label @empresa.id.to_s  %>  </div>
    </div>
    <% end %>
    <div class="field" >
      <%= f.label :nombre %><br />
      <div class ="combobox"> <%= f.text_field :nombrereal, :size =>20, :class =>  'text ui-widget-content ui-corner-all' %>  </div>
    </div>
    <div class="field">
      <%= f.label :nombre_fiscal %><br />
      <div class ="combobox">  <%= f.text_field :nombrefiscal, :size =>20, :class =>  'text ui-widget-content ui-corner-all' %>  </div>
    </div>
    <div class="field" >
      <%= f.label :rut %><br />
      <div class ="combobox">  <%= f.number_field :nif, :size =>20, :class =>  'text ui-widget-content ui-corner-all' %>  </div>
    </div>
    <div class="field" >
      <%= f.label :domicilio %><br />
      <div class ="combobox">  <%= f.text_field :domicilio, :size =>20, :class =>  'text ui-widget-content ui-corner-all' %>  </div>
    </div>
    <div class="field" >
      <%= f.label :web %><br />
      <div class ="combobox">  <%= f.text_field :dirweb, :size =>20, :class =>  'text ui-widget-content ui-corner-all' %>  </div>
    </div>
    <div class="field" >
      <%= f.label :grupo %><br />
      <div class ="combobox"> <%= f.collection_select(:tipocliente_id,Tipocliente.all, :id, :nombre, {:prompt => 'Agregue un grupo de cliente'}, :size =>1, :class =>  'text ui-widget-content ui-corner-all') %>  </div>
      <div id="agregar_new_tipo"></div>
    </div>


    <div class="field" >
      <%= f.label :descuento %><br />
      <div class ="combobox"> <%= f.number_field :pdescuento, :size =>20, :class =>  'text ui-widget-content ui-corner-all' %>  </div>
    </div>

    <div class="field" id= "credito" >
      <%= f.label :credito %><br />
      <div class ="combobox">
        <% if @empresa.id == nil %>
          <%= f.check_box :credito,{ :size =>20, :class =>  'text ui-widget-content ui-corner-all'}, false %>
        <% else %>
          <%= f.check_box :credito, {:size =>20, :class =>  'text ui-widget-content ui-corner-all'}, @empresa.credito %>
        <% end %>
      </div>
    </div>

    <div class="field" id="precargo">
      <%= f.label :porcentaje %><br />
      <div class ="combobox">  <%= f.text_field :precargo, :size =>20, :class =>  'text ui-widget-content ui-corner-all' %>  </div>
    </div>
    <div class="field" id="cantrecargo">
      <%= f.label :cantidad %>
      <div class ="combobox">  <%= f.text_field :cantrecargo , :size =>20, :class =>  'text ui-widget-content ui-corner-all' ,:id => "empresa_cantrecargo" %></div>
    </div>

    <div class="field" id="urecargo">
      <%= f.label :unidad %>
      <div class ="combobox"  >  <%= f.enum_select :urecargo, :size =>10, :class =>  'text ui-widget-content ui-corner-all' %>  </div>
    </div>


    <div class="actions">
      <a id="guardar"><%if (@empresa.id!=nil) %>Guardar Cambios <%else%>Crear Nuevo<%end;%> </a>
    </div>

  <% end %>
<% end %>
