<h1>Listing formadepagos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Utilizada</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @formadepagos.each do |formadepago| %>
  <tr>
    <td><%= formadepago.nombre %></td>
    <td><%= formadepago.utilizada %></td>
    <td><%= link_to 'Show', formadepago %></td>
    <td><%= link_to 'Edit', edit_formadepago_path(formadepago) %></td>
    <td><%= link_to 'Destroy', formadepago, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Formadepago', new_formadepago_path %>
