<script>
  $(function() {
    //Spanish (Espa&ntilde;ol)
    $( "#guardar" ).button();
    $( "#guardar" ).click(function() {
      $(this).button( "disable" );
      var data = new Object();
<% if(@impuesto.id!=nil) %>
        data["_method"] =	"put";
<% end; %>
      data['impuesto[porcentajea]'] =	$( "#impuesto_porcentajea" ).val();

      data['impuesto[nombre]'] =	$( "#impuesto_nombre" ).val();


      data["utf8"] =	true;
      $.ajax({
        type: "POST",
        url: "/impuestos<% if (@impuesto.id==nil) %>.json/ <% else %>/<%= @impuesto.id %>.json <%end%>",
        data: data,
        context: document.body,
        success: function(json_data){
          $( "#guardar" ).button( "enable" )
          if (json_data.id){
            $("#texto_error").html("");
            tab_selected.click();
            closeIframe( "/impuestos/<% if (@impuesto.id==nil) %>new<% else %><%= @impuesto.id %>/edit<%end%>");
          }else{
            $("#texto_error").html("");
            for (var i in json_data){
              var error = '<div style="padding: 0 .2em;" class="ui-state-error ui-corner-all"><p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span><strong>'+i+':</strong> '+json_data[i]+'.</p></div><br/>';
              $("#texto_error").html($("#texto_error").html()+error);

            }
          }

        },
        error: function( xhr, status, index, anchor ) {
          $( "#guardar" ).button( "enable" )
          $("#texto_error").html("");
          for (var i in xhr){
            var error = '<div style="padding: 0 .2em;" class="ui-state-error ui-corner-all"><p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span><strong>'+i+':</strong> '+xhr[i]+'.</p></div><br/>';
            $("#texto_error").html($("#texto_error").html()+error);

          }
        }
      });
      return false;
    });
  });
</script>
<%= form_for(@impuesto) do |f| %>
  <% if @impuesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@impuesto.errors.count, "error") %> No se pudo agregar el Impuesto :</h2>

      <ul>
        <% @impuesto.errors.messages.each do |msg| %>
          <li><%= msg[1][0] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="texto_error"> </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <div class ="combobox"> <%= f.text_field :nombre , :size =>20, :class =>  'text ui-widget-content ui-corner-all'  %></div>
  </div>
  <div class="field">
    <%= f.label "Tasa (%)"%><br />
    <div class ="combobox"> <%= f.text_field :porcentajea , :size =>20, :class =>  'text ui-widget-content ui-corner-all'  %></div>
  </div>


  <div class="actions" >
    <a id="guardar"><%if (@impuesto.id!=nil) %>Guardar Cambios <%else%>Crear Nuevo<%end;%> </a>
  </div>
<% end %>
