<p id="notice"><%= notice %></p>

<p>
  <b>Comercializable:</b>
  <%= @renglon_ndd_articulo.comercializable %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @renglon_ndd_articulo.cantidad %>
</p>

<p>
  <b>Precio:</b>
  <%= @renglon_ndd_articulo.precio %>
</p>

<p>
  <b>Total renglon:</b>
  <%= @renglon_ndd_articulo.total_renglon %>
</p>

<p>
  <b>Total impuestos:</b>
  <%= @renglon_ndd_articulo.total_impuestos %>
</p>

<p>
  <b>Descuento:</b>
  <%= @renglon_ndd_articulo.descuento %>
</p>

<p>
  <b>Comentario:</b>
  <%= @renglon_ndd_articulo.comentario %>
</p>


<%= link_to 'Edit', edit_renglon_ndd_articulo_path(@renglon_ndd_articulo) %> |
<%= link_to 'Back', renglon_ndd_articulos_path %>
