<h1>Editing articulo</h1>

<%= render 'form' %>

<h2>rolarticulo</h2>
<%= render @articulo.rolarticulos %>

<h2>Comenercializable:</h2>
<%= render "rolarticulos/form" %>
</br>

<%= link_to 'Show', @articulo %> |
<%= link_to 'Back', articulos_path %>
